<html lang="en">
<head>
{{>header}}
</head>
<body class="container">
<h1> Add Week to Planner</h1>
<a href="/" class="btn btn-primary">
      Planner
    </a>
<form method="post" role="form" >

 <div class="form-group">
    <label for="Author">Author</label>
    <input type="text" class="form-control" id="Author"
    name="Author" placeholder="Written by" required>
 </div>
 
 <div class="form-group">
    <label for="training_Week">Training Week</label>
    <input type="number" min = "1" max = "52" class="form-control" id="training_week"
    name="training_week" placeholder="Week of Training i.e. Week 1-52" required>
 </div>

 <div class="form-group">
    <label for="goal_start_date">Goal Start Date</label>
    <input type="date" min="2021-05-09" max="2022-05-16" class="form-control" id="Goal Start Date"
    name="goal_start_date" placeholder="00-00-00" required>
 </div>

  <div class="form-group">
    <label for=" Goal">Goal </label>
    <input type="text" class="form-control" id="goal"
    name="goal" placeholder="The Goal for the Week" required>
 </div>


  <div class="form-group">
    <label for="goal_progress">Goal progress</label>
    <input type="text" class="form-control" id="goal_progress"
    name="goal_progress" placeholder="Reps, distance or effort completed so far" required>
 </div>


 <div class="form-group">
    <label for="goal_completion_date">Target Date to Complete the Goal</label>
    <input type="date" min="2021-05-09" max="2022-05-16" class="form-control" id="goal_completion_date"
    name="goal_completion_date" placeholder="00-00-0000" required>
 </div>

 <div class="form-group">
    <label for="all_goal_completion">Goal Completion Status</label>
    
   <select name="all_goal_completion" class="form-control" id="all_goal_completion">
    <option value="Completed">Completed</option>
    <option value="In progress">In progress</option>
    <option value="Incomplete">Incomplete</option>
    
  </select>

 </div>

<div class="form-group">
    <label for="_id">Goal Unique ID</label>
    <input type="number" class="form-control" id="_id"
    name="_id" placeholder="Unique ID for the Goal" required>
 </div>


 <div class="form-group">
    <input type="submit" value="Add Goal" class="btn btn-primary">
 </div>
</form>
</body>
</html>



