<head>
{{>header}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/
bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
 <h1>{{title}}</h1>
 <a href="/edit" class="btn btn-primary">
      Edit
    </a>
    <a href="/add" class="btn btn-primary">
      add
    </a>
    <a href="/remove" class="btn btn-primary">
      remove
    </a>
 {{#entries}}
 <div>{{Training_day}}</div>
 <div>{{Training_excercise}} </div>
 <div>{{ Training_duration}} </div>
 <div> {{Training_week}}</div>
 <div> {{Training_date}}</div>
 <div> {{ID}}</div>
 <hr>{{/entries}}
 {{^entries}}no entries yet {{/entries}}
</body>
</html>