<html>
<head>
{{header}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/
bootstrap/4.4.1/css/bootstrap.min.css">

<script src="https://kit.fontawesome.com/3625e3ab5a.js" crossorigin="anonymous"></script>
</head>
<body class = "container">

 <h1>{{title}}</h1>

 <a href="/edit" class="btn btn-primary">
      Edit
    </a>
    <a href="/add" class="btn btn-primary">
      add
    </a>
  
  
    
 {{#entries}}
 <div class = "card-body">
      <div class = "card-text">  
         
      </div>
      <div class = "card-header">
      Written by {{Author}}
     published on {{published}}
     <br>
     Training Week:
     {{training_week}}
     <br>
     Start date of Goals:
     {{goal_start_date}}
     <br>
    <b> Goal 1:</b>
     {{first_goal}}
     <br>
    <b> Goal 2:</b>
     {{second_goal}}
     <br>
    <b> Goal 3:</b>
     {{third_goal}}
     <br>
     Additional Goals:
     {{additional_goal}}
     <br>
    <b> Goal 1 Progress:</b>
     {{first_goal_progress}}
     <br>
    <b> Goal 2 Progress:</b>
     {{second_goal_progres}}
     <br>
    <b> Goal 3 progress:</b>
     {{third_goal_progress}}
     <br>
     Additional Goals progress:
     {{additional_goal_progress}}
     <br>
     Date of all goals completion:
     {{goal_completion_date}}
     <br>
     All goals completion status:
     <a href="/progress/{{all_goal_completion}}" >{{all_goal_completion}}</a>
    
      </div>
      </div>
<a href='/delete/{{_id}}' alt='delete this entry'><i class='fa fa-trash' style='font-size:24px'></i></a>

 {{/entries}}
 {{^entries}}no entries yet {{/entries}}
</body>
</html>