<html>
<head>
{{header}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/
bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body class = "container">
 <h1>{{title}}</h1>
 <a href="/edit" class="btn btn-primary">
      Edit
    </a>
    <a href="/add" class="btn btn-primary">
      add
    </a>
    <a href="/remove" class="btn btn-primary">
      remove
    </a>
 {{#entries}}
 <div class = "card-body">
      <div class = "card-text">  
         
      </div>
      <div class = "card-header">
      Written by {{Author}}
     published on {{published}}
     {{day_of_week}}
     {{goal_start_date}}
     {{first_goal}}
     {{second_goal}}
     {{third_goal}}
     {{additional_goal}}
     {{first_goal_progress}}
     {{second_goal_progres}}
     {{third_goal_progress}}
     {{additional_goal_progress}}
     {{goal_completion_date}}
     {{all_goal_completion}}

      </div>
      </div>

 {{/entries}}
 {{^entries}}no entries yet {{/entries}}
</body>
</html>