<html>
<head>
{{header}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/
bootstrap/4.4.1/css/bootstrap.min.css">

<script src="https://kit.fontawesome.com/3625e3ab5a.js" crossorigin="anonymous"></script>
</head>
<body class = "container">

 <h1>{{user}}{{title}}</h1>

 <a href="/edit" class="btn btn-primary">
      Edit
    </a>
    <a href="/add" class="btn btn-primary">
      add
    </a>
  
<a href="/SortWeek" class="btn btn-primary">
      sort by week
    </a>

<a href="/planner" class="btn btn-primary">
      Planner
    </a>

<button onclick = "sendable_link()" class = "btn btn-primary">
Share your goals for  the week
</button>
   <div class="text-right" style="margin-bo@om: 1em;">
 
 
 <a id="logout" href="/logout" class="btn btn-primary">
 Sign out
 </a>

 </div>
  
    
 {{#entries}}
 <div class = "card-body">
      <div class = "card-text">  
         
      </div>
      <div class = "card-header">
      Written by {{Author}}
     published on {{published}}
     <br>
     Training Week:
     {{training_week}}
     <br>
     Start date of Goals:
     {{goal_start_date}}
     <br>
    <b> Goal:</b>
     {{goal}}
     <br>
    <b> Goal Progress:</b>
     {{goal_progress}}
     <br>
     Date of all goals completion:
     {{goal_completion_date}}
     <br>
     All goals completion status:
     <a href="/progress/{{all_goal_completion}}/{{Author}}/{{training_week}}" >{{all_goal_completion}}</a>
    
      </div>
      </div>
<a href='/delete/{{_id}}' alt='delete this entry'><i class='fa fa-trash' style='font-size:24px'></i></a>

 {{/entries}}
 {{^entries}}no entries yet {{/entries}}


 <script>
 function sendable_link(){
   alert("http://localhost:3000/planner/shareableLink?user={{user}}&training_week={{training_week}}")
 }
 </script>
 </body>
</html>